<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Meta -->
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" href="/assets/favicon.ico" />
    <!-- Site Meta -->
    <title>{% if page.title %} 
                {{ page.title }}
            {% else %} 
                {{ site.title }}
            {% endif %}
    </title>
    {% include styles.html %}
</head>
