<header class="header">
    <div class="container-fluid top-bar">
        <div class="row">
            <div class="col-md-6 col-sm-6 text-left">
                <p>
                    <strong>
                        <i class="fa fa-phone"></i>
                    </strong> +90 543 123 45 67 &nbsp;&nbsp;
                    <strong>
                        <i class="fa fa-envelope"></i>
                    </strong>
                    <a href="#">{{site.email}}</a>
                </p>
            </div>
            <div class="col-md-5 col-sm-6 hidden-xs text-right">
                <div class="social">
                    <a class="facebook" href="#" data-tooltip="tooltip" data-placement="bottom" title="Facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="twitter" href="#" data-tooltip="tooltip" data-placement="bottom" title="Twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="google" href="#" data-tooltip="tooltip" data-placement="bottom" title="Google Plus">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="linkedin" href="#" data-tooltip="tooltip" data-placement="bottom" title="Linkedin">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a class="pinterest" href="#" data-tooltip="tooltip" data-placement="bottom" title="Pinterest">
                        <i class="fa fa-pinterest"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">Fidget Spinners</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbar" class="collapse navbar-collapse ">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class=nav-link href="#">Contact</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#">
                            <i class="fa fa-search"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="shopicon" href="#">
                            <i class="fa fa-shopping-basket"></i> &nbsp;(0)
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>