
.header{
    background-color: yellowgreen;
}
.navbar{
    margin: auto;
    width:50%;
}
@media(max-width:968px){
    .navbar{
        width:100%;
    }
}
.section{
    background-image: url("images/fidgetSpinner.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height:100%;
}
.top-bar{
    color :green;
    margin:0;
    padding:0;
    max-height:2%;
}
.social .facebook{
 color:rgb(0, 61, 230);
}
.fa.fa-google-plus{
    color:red;
}
.fa.fa-pinterest{
    color:rgb(253, 57, 31);
}
.fa.fa-search{
    color:grey;
}
.fa.fa-shopping-basket{
    color:green;
}
.content{
    color:white;
    background-color:black;
}
.more-links{
    width:40%;
    height:100%;
    margin: 20% 5% 30% 40% ;
}
.main-blog{
    overflow:auto;

}

.other-blogs{
    overflow:scroll;
    margin:3%;
    padding-right:5%;
}
.blog-image img{
    height:80%;
    width:80%;
    margin-left:auto;

}
footer{
    background-color: black;
    color:white;
    font-size: 110%;
    position:relative;
    bottom:0;
    
}
.text-center{
    padding:1%;
    margin-bottom:0;
}