
.header{
    background-color: yellowgreen;
}
.navbar{
    margin: auto;
    width:50%;
}
@media(max-width:968px){
    .navbar{
        width:100%;
    }
}
.banner{
    background-image: url("images/fidgetSpinner.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height:100vh;
    width: 100%;
}
.top-bar{
    color :green;
    margin:0;
    padding:0;
    max-height:2%;
}
.social .facebook{
 color:rgb(0, 61, 230);
}
.fa.fa-google-plus{
    color:red;
}
.fa.fa-pinterest{
    color:rgb(253, 57, 31);
}
.fa.fa-search{
    color:grey;
}
.fa.fa-shopping-basket{
    color:green;
}
.content{
    color:white;
    background-color:black;
}
.more-links{
    padding: 25% 10%;
    margin: auto;
}
.main-blog{
    overflow:auto;

}
#current_blog{
    display:none;
}
.title .heading{
    margin:2% 0 5% 0;
}
.title img {
    position: relative;
    height:80%;
    width:80%;
    z-index:1;
}
.other-blogs{
    overflow:scroll;
    margin:3%;
    padding-right:5%;
}
.blog-image img{
    height:80%;
    width:80%;
    margin-left:auto;

}

.blog-image{
    margin-bottom: 5%;
}
footer{
    background-color: black;
    color:white;
    font-size: 110%;
    position:relative;
    bottom:0;
    
}
.text-center{
    padding:1%;
    margin-bottom:0;
}
.product {
    margin-bottom:1%;
}
.product-details{
    text-align: center;
    color:green;
}
.selected-spinner{
    margin:2% 30% 3% 30%;
}
.product-price{
    color:blue;
    text-align: center;
    font-weight: bolder;
}
.delivery-info{
    color:black;
    font-weight: bolder;

}
.id{
    display: none;
}
.back{
    margin:5% 4% 5% 40%;
    font-size: 150%;
}