body{
    padding:0;
    height:100%;
    background-image: url("images/fidgetSpinner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.text-right{
    padding-right: 0;
}
.top-bar{
    color :green;
    margin:0;
    padding:0;
    max-height:2%;
}
.social .facebook{
 color:rgb(0, 61, 230);
}
.fa.fa-google-plus{
    color:red;
}
.fa.fa-pinterest{
    color:rgb(253, 57, 31);
}
.fa.fa-search{
    color:grey;
}
.fa.fa-shopping-basket{
    color:green;
}
.content{
    color:white;
    background-color:black;
}
.more-links{
    margin:auto;
}
footer{
    max-width:98%;
    background-color: black;
    color:white;
    font-size: 110%;
    position: fixed;
    bottom:0;
    overflow:hidden;
    
}