<!doctype html>
<html lang="en">
    {% include blog-head.html %}
<body>
    {% include header.html %}
    <div class="banner">
        <div class="container ">
            <div class="row">
                <div class="col-md-6">
                    <p>{{content}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 more-links">
                    <a href="/2018/08/31/what-is-a-fidget-spinner.html" class="btn btn-success">Read More</a>
                    <a href="/shop" class="btn btn-primary">Buy Now</a>
                </div>
            </div>
        </div>
    </div>
    {% include footer.html %}
    {% include scripts.html %}
</body>

</html>