<!doctype html>
<html lang="en">
    {% include blog-head.html %}

<body>
    <header class="header">
        <div class="container-fluid top-bar">
            <div class="row">
                <div class="col-md-6 col-sm-6 text-left">
                    <p>
                        <strong>
                            <i class="fa fa-phone"></i>
                        </strong> +90 543 123 45 67 &nbsp;&nbsp;
                        <strong>
                            <i class="fa fa-envelope"></i>
                        </strong>
                        <a href="#">Fidegt@spinners.com</a>
                    </p>
                </div>
                <div class="col-md-6 col-sm-6 hidden-xs text-right">
                    <div class="social">
                        <a class="facebook" href="#" data-tooltip="tooltip" data-placement="bottom" title="Facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a class="twitter" href="#" data-tooltip="tooltip" data-placement="bottom" title="Twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a class="google" href="#" data-tooltip="tooltip" data-placement="bottom" title="Google Plus">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <a class="linkedin" href="#" data-tooltip="tooltip" data-placement="bottom" title="Linkedin">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a class="pinterest" href="#" data-tooltip="tooltip" data-placement="bottom" title="Pinterest">
                            <i class="fa fa-pinterest"></i>
                        </a>
                    </div>
                </div>
            </div>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#">Fidget Spinners</a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                <div id="navbar" class="collapse navbar-collapse ">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link"href="/Index/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Events</a>
                        </li>
                        <li class="nav-item"> 
                            <a class=nav-link href="#">Contact</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="#">
                                <i class="fa fa-search"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="shopicon" href="/shop-cart/">
                                <i class="fa fa-shopping-basket"></i> &nbsp;(0)
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="image">
                     {% for file in site.static_files %}
                       {% if file.path contains 'assets/images/fidgetSpinner'%}
                        <img src="{{file.path}}" alt="Woman with fidget spinner">
                       {% endif %}
                     {% endfor %}
                    </div>
                    <div class="index-text">
                        <p>Fidget Spinners</p>
                        <p>A revolutionary new toy that promises hours of fun and stress relief.</p>
                        <a href="/FIDGET-SPINNERS//more/" class="btn btn-success">Read More</a> &nbsp;&nbsp;&nbsp;
                        <a href="/shop/" class="btn btn-default">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>