<!doctype html>
<html lang="en">
{% include blog-head.html %}
<body>
    {% include header.html %}
    <div class="container-fluid">
        <div class="row">
            {% for product in site.products %}
            <div class="col-md-4 product">
                <div class="product-image">
                    <img src="{{product.path-to-image}}">
                </div>
                <div class="product-details">
                    <p>{{product.name}}
                        <br> {{product.price}}
                        <br>
                    </p>
                    <a href='{{product.url}}'><button type="button"class="btn btn-default" 
                    >Buy Now</button></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% include footer.html %}
    {% include scripts.html %}
</body>

</html>